.contact{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1px;
    justify-content: center;
    background: $banner-theme;
    color: $text-bright;
    a{
        color:$text-bright;
        text-decoration: none;
    }
}