// import variables for scss
@import "variables";
@import 'audition', 'contact','banner','navigation';


html{
    scroll-behavior:smooth;
}

.main-app {
    padding: 5px;
    background: $bg-theme;
    color: $text-normal;
    font-family: sans-serif;
    margin: auto;
    .inner-container{
        margin: auto;
        max-width: $max-width;
    }
}

.home{
    text-align: center;
}

// GALLERY
.gallery{
    margin: auto;
    .image-grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
        justify-content: center;
    }
    .image-frame{
        width: 200px;
        transition: transform 0.4s;
        cursor: pointer;
        img{
            border-radius: 10px;
        }
        
    }
    .image-frame:hover{
        transform: scale(1.06);
    }
}

// image-overlay
.image-modal-container{
    // margin:auto;
    padding: 200px;
    background: black;
    position: fixed;
    max-width:$max-width;
    height: 100%;
    // Center div new in CSS3:
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .image-modal{
        max-height: 100%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img{
            max-width: $max-width;
            height: auto;
            margin: auto;
        }
        .exit-button{
            position: fixed;
            top:2px;
            left: 2px;
        }
    }
}

.exit-button{
    font-size: 20px;
    padding: 12px;
    background: $icon-bg;
    border-radius: 40%;
    transition: transform .1s;
}
.exit-button:hover{
    transform: scale(1.05);
    &:hover{
        cursor: pointer;
        background:$icon-hover-bg;
    }
}

.hidden{
    display: none;
}

.left-nav, .right-nav{
    position: fixed;
    top: 50%;
    font-size: 80px;
    color:rgba(255, 255, 255, 0.986);
    padding: 10px;
    background: $icon-bg;
    border-radius: 5%;
    transition: transform 0.1s;
    &:hover{
        transform: scale(1.05);
        background: $icon-hover-bg;
        cursor: pointer;
    }
}
.left-nav{
    left: 0px;
}
.right-nav{
    right: 0px;
}

.btn-primary{
    background: steelblue;
    color: $text-bright;
    font-weight: 250;
    position: relative;
    margin: 10px auto;
    display: inline-block;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    transition: .3s;
    &:hover{
        cursor: pointer;
        transform: scale(1.02);
    }
}

.select-group{
    font-size: 18px;
}

.required:before { 
    color:red;
    content:" *"; 
}

.img-dynamic{
    width: 90%;
    height: auto;
    display: inline-block;
}

.section-text{
    padding: 15px 20px 10px;
    text-align: left;
    h3{
        text-align: center;
    }
}

.aln-l{
    text-align: left;
}

.aln-c{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .gallery .image-grid{
        grid-template-columns: auto;
    }
  }

