$text-normal: rgb(7, 1, 1);
$text-bright: #FFFFFF;
$bg-theme: #dadce0;
$banner-theme: rgba(7,22,53,1);
$bg-col: #3AAFA9;
$nav-theme: rgba(7,22,53,0.91);;
$max-width: 900px;
$icon-bg: rgba(233, 225, 233, 0.481);
$icon-hover-bg: rgba(63, 62, 63, 0.681);